@{
  Layout = "_Layout";
}

<h1>Welcome to EpiRentals!!</h1>
<p>@Html.ActionLink("See all movies", "Index", "Movies")</p>
<p>@Html.ActionLink("See all genres", "Index", "Genres")</p>
<p>@Html.ActionLink("Your account", "Index", "Account")</p>
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>